.cart{
    width: 60%;
    margin: auto;
    .cart-title{
        margin-bottom: 20px;
        h3{
            padding: 20px;
            border-bottom: 1px solid #ccc;
        }
    }
    .box{
        display: flex;
        margin-bottom: 20px;
        box-shadow: 2px 2px 3px #c0c0c0;
        padding: 15px;
        img{
            width: 60px;
        }
        .cart-info{
            flex: 1;
            span{
                width: 100%;
                display: block;
            }
        }
        button{
            background-color: #fff;
            padding: 15px;
            border: 1px solid #ccc;
            height: 25px;
            display: flex;
            align-items: center;
            border-radius: 3px;
            cursor: pointer;
        }
    }
    .total{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        button{
            color: #fff;
            background-color: #2a5ea5;
            border: none;
            padding: 7px;
            cursor: pointer;
            border-radius: 5px;
        }

    }
}


.checkout-form{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ddd;
    left: 0;
    padding: 30px;
    span{
        display: flex;
        justify-content: flex-end;
        font-size: 30px;
        cursor: pointer;
    }
    form{
        width: 60%;
        margin: auto;
        >div{
            display: flex;
            flex-direction: column;
            padding: 10px;
        }
        input{
            height: 40px;
            border: 1px solid #c0c0c0;
        }
        button{
            cursor: pointer;
            height: 40px;
            color: #fff;
            background-color: #2a5ea5;
            border: none;
            padding: 7px;
            cursor: pointer;
            border-radius: 5px;
        }
    }
}


.order-info{
    span{
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        padding: 10px 20px 20px ;
    }
    height: 100%;
    display: flex;
    flex-direction: column;
    .alert-success{
        text-align: center;
        color: #fff;
        background-color: red;
        padding: 10px;
        font-size: 22px;
    }
    
}

table{
    border: 1px solid #c0c0c0;
    tr{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #c0c0c0;
        &:last-child{
            border-bottom: 0;
        }
        td{
            padding: 10px;
        }
    }
}